# Created by https://www.toptal.com/developers/gitignore/api/react,rails
# Edit at https://www.toptal.com/developers/gitignore?templates=react,rails

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch